.foi-header.landing-header {
  background-image: url("./images/bg1.png"), url("./images/bg2.png");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: 167px, 65%;
  background-position: left bottom, right top;
  height: 100vh;
}

.foi-header .header-content {
  padding-top: 105px;
  padding-bottom: 40px;
}

.foi-header {
  padding-top: 24px;
}