.messages-output {
    height: 79vh;
    /* border: 1px solid lightgray; */
    overflow-y: scroll;
    /* margin-bottom: 20px; */
}

.message-inner {
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 15px;
    /* text-align: justify; */
    min-width: 200px;
    max-width: 65%;
    text-align: left;
    min-height: 80px;
    font: 400 1em, sans-serif;
    display: inline-block;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    background: #cacaca;
    box-shadow: 5px 3px 10px #1f1f1f63;
    color: #222;
}

.incoming-message .message-inner {
    /* background-color: #ffdab9; */
    /* border-radius: 1rem; */
    background: #bc333e;
    border-radius: 1vmax 1vmax 1vmax 0;
    box-shadow: -5px 3px 10px #dc384650;
    color: #ffffff;
    max-width: 65%;
}

.incoming-message {
    display: flex;
    justify-content: flex-start;
}

.message-timestamp-left {
    font-size: 0.85em;
    font-weight: 300;
    /* margin-top: 10px; */

}

.message-sender {
    /* margin-bottom: 5px; */
    font-weight: bold;
}

.message-date-indicator {
    width: 150px;
    margin: 0 auto;
}

.conversation-info {
    margin: 0 auto;
    text-align: center;
    height: 75px;
}

.alert.message-date-indicator {
    border-radius: 2rem !important;
    padding: 10px !important;
    background: #212529 !important;
    color: #ffffff !important;
    border: none !important;
}

.alert.alert-danger {
    border-radius: 0px !important;
    border: none !important;
    background: #212529 !important;
    color: #ffffff !important;

}

.conversation-profile-pic {
    width: 40px;
    height: 40px;
    object-fit: cover;
    /* margin: 10px auto;
    margin-bottom: 30px; */
    border-radius: 50%;
    margin-left: 10px;
}

.message {
    display: flex;
    justify-content: end;
    margin-right: 8%;
}

.message .message-content,
.message .message-timestamp-left {
    float: right;
}

.message .message-content {
    margin-bottom: 0rem !important;
    width: 100%;
    text-align: end;
}

.message-inner .d-flex.align-items-center.mb-3 {
    justify-content: end;
}

.incoming-message .message-content {
    margin-bottom: 0rem !important;
    width: 100%;
    text-align: start;

}

.incoming-message .d-flex.align-items-center.mb-3 {
    justify-content: start;
}

.incoming-message .message-timestamp-left {
    width: 100%;
    text-align: end;
}

.message .message-timestamp-left {
    width: 100%;
    text-align: end;
}

.incoming-message img,
.message img {
    width: 35px;
    object-fit: cover;
    border-radius: 50%;
    background-color: rgb(236, 236, 236);
}

.incoming-message {
    margin-left: 6%;
}

.message-content {
    text-align: justify;
}

.image-cont {
    display: flex;
    align-items: center;
}


.container-form.msg-cont {
    display: flex;
    width: 95%;
    background-color: #212529;
    border-radius: 4rem;
}

.msg-cont .search__box {
    padding: 10px 3%;
    background: none;
    color: #f7f7f7 !important;
    border-radius: 2rem;
    outline: none;
    border: none;
    opacity: 1;
    transition: .3s;
    box-shadow: none !important;
}

.msg-cont .search__icon {
    box-sizing: border-box;
    float: right;
    cursor: pointer;
    color: #ffffff;
    transition: all .25s ease-in;
    padding: 0.7rem;

}
.container-form{
    transition: .3s;
}
.container-form:focus-within {
    background-color: #191d20 !important;
}
.search__box{
    background-color: transparent!important;
}

.icobtn {
    border-radius: 0 2vmax 2vmax 0 !important;
    box-shadow: none !important;
}
.conversation-info .back-ico{
    display: none;
}
@media (max-width: 768px) {
    .conversation-info .back-ico{
        display: flex;
    }
    .conversation-info {
        height: 60px!important;
    }
    .chat-box{
        height: 94vh!important;
    }
    .messages-output{
        height: 85vh!important;
    }
}