/* New UI  */

.ctext-wrap-content .deleted {
  font-style: italic;
  font-size: 80%;
}

.deleted-container {
  opacity: 0.7;
  padding: 6px 16px !important;
}

.chat-leftsidebar {
  overflow-y: hidden;
}

.chat-message-list {
  height: 80vh !important;
}

@media (max-width: 991.98px) {
  .chat-message-list {
    height: 73vh !important;
  }
}

.chat-input-links .list-inline input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.chat-input-links .list-inline .waves-effect.btn {
  position: relative;
}
.emoji-picker-react {
  position: absolute !important;
  bottom: 92px !important;
  right: 2% !important;
}
.noMsgMain {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 15px 20px;
  background-color: #ededff;
  width: 360px;
}
.noMsgCont {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  align-items: stretch;
  margin-bottom: 20px;
}
.noMsgCol {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  align-items: stretch;
  height: 40px;
  width: 40px;
  transform: rotateZ(0deg);
}
.noMsgColm {
  position: absolute;
  display: inline;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  user-select: text;
  cursor: text;
}
.noMsgHi {
  display: inline-block;
  width: 40px;
  height: 2280px;
  background-image: url("https://static-asm.secure.skypeassets.com/pes/v1/emoticons/hi/views/default_40_anim_f?etag=v27");
  background-size: 40px 2280px;
  will-change: transform;
  transform: translate3d(0px, -2280px, 0px);
  transform-origin: left top;
  animation: 2.375s steps(57) 0s infinite normal none running
    SpriteComponentAnimation;
  backface-visibility: hidden;
}

.noMsgTxt {
  position: relative;
  display: inline;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-size: 15px;
  font-family: "SF Regular", "Segoe System UI Regular", "Segoe UI Regular",
    sans-serif;
  font-weight: 400;
  color: rgb(49, 49, 49);
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  cursor: inherit;
}
.noMsgTxtB {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  align-items: stretch;
  justify-content: center;
  app-region: no-drag;
  background-color: transparent;
  border-color: transparent;
  text-align: left;
  border-width: 0px;
  min-width: 150px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0px;
  cursor: pointer;
  border-style: solid;
}

.noMsgTxtC {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px; 
  opacity: 1;
  transform: scale(1) translateX(0px) translateY(0px);
  transition: none 0s ease 0s;
}

.noMsgTxtD {
  position: relative;
  display: inline;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
  font-size: 15px;
  font-family: "SF Bold", "Segoe System UI Bold", "Segoe UI Bold", sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  cursor: inherit;
}
.noMsgArea {
  display: inline-block;
  width: 40px;
  height: 40px;
}
@keyframes SpriteComponentAnimation {
  0% {
    transform: translateZ(0);
  }
}
.bodySpritePauser .SpriteComponentAnimationPause {
  animation-play-state: paused !important;
}
